<div id="header">
  <h1>@Html.ActionLink("Yup, this is the header", "Index", "Home")</h1>
  <div>
    @using (Html.BeginForm("Index", "Search", FormMethod.Get))
    {
      <input type="text" name="query" placeholder="Search" />
      <input type="submit" value="Search" />
    }
  </div>
</div>
<br /><br />