@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Category

<h4>Add a new category type</h4>

<p>@Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Type)
  @Html.TextBoxFor(model => model.Type)

  <input type="submit" value="Add new category type" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all Categories", "Index")</p>